[![Last template update](https://img.shields.io/badge/last%20template%20update-{{ _copier_answers._commit|replace('-', '--') }}-informational)](https://github.com/Tecnativa/image-template/tree/{{ _copier_answers._commit }})

# {{ project_name }}
