name: Build, Test & Deploy

"on":
  pull_request:
  push:
    branches:
    {%- for branch in main_branches or ["main", "master"] %}
      - {{ branch }}
    {%- endfor %}
    tags:
      - "v*"
  schedule:
    - cron: 0 0 * * 0
  workflow_dispatch:
    {%- if pytest %}
    inputs:
      pytest_addopts:
        description: >
          Extra options for pytest; use -vv for full details; see
          https://docs.pytest.org/en/latest/example/simple.html#how-to-change-command-line-options-defaults
        required: false
    {%- endif %}

env:
  LANG: "en_US.utf-8"
  LC_ALL: "en_US.utf-8"
  {%- if pytest %}
  {%- raw %}
  PYTEST_ADDOPTS: ${{ github.event.inputs.pytest_addopts }}
  PYTHONIOENCODING: "UTF-8"
  UV_CACHE_DIR: /tmp/.uv-cache
  {%- endraw %}
  {%- endif %}

# We test always, and only push when its the main branch or the PR comes from the owner
# ORG of the repository
jobs:
  build-test:
    strategy:
      matrix:
        platform:
          - amd64
          - arm64
    {%- raw %}
    runs-on: ${{ matrix.platform == 'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-24.04' }}
    {%- endraw %}
    steps:
      - &image-name
        # This needs to be done here as there is no other way as of June 2026 to
        # get the lowercase name of the repo (org/reponame)
        name: downcase image name
        run: |
          echo "IMAGE_NAME=${GITHUB_REPOSITORY,,}" >>${GITHUB_ENV}
      - uses: actions/checkout@df4cb1c069e1874edd31b4311f1884172cec0e10 # v6.0.3
      - &setup-buildx
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@d7f5e7f509e45cec5c76c4d5afdd7de93d0b3df5 # v4.1.0
      - name: Build image
        uses: docker/build-push-action@f9f3042f7e2789586610d6e8b85c8f03e5195baf # v7.2.0
        with:
          context: .
          file: ./Dockerfile
          load: true
          push: false
          {%- raw %}
          cache-from: type=gha,scope=build-${{ matrix.platform }}
          cache-to: type=gha,mode=max,scope=build-${{ matrix.platform }}
          {%- endraw %}
          tags: ci-base:testing
        {%- if pytest%}
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@08807647e7069bb48b6ef5acd8ec9567f424441b # v8.1.0
        with:
          enable-cache: true
      - name: Install the project
        run: uv sync --locked --all-extras --dev
      - name: Run tests
        if: github.ref == github.event.repository.default_branch
        run: uv run pytest --image {{ project_name }}:testing
        {%- endif %}
  {%- if target_registries %}
  # We run separate jobs amd64 and arm64, each pushes its own image untagged, and then
  # we create the proper tag in another job.
  build-push:
    needs: build-test
    strategy:
      matrix:
        platform:
          - amd64
          - arm64
    {%- raw %}
    if: >
      github.ref_name == github.event.repository.default_branch || (github.event_name ==
      'pull_request' &&
       github.event.pull_request.head.repo.full_name == github.repository)
    runs-on: ${{ matrix.platform == 'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-24.04' }}
    {%- endraw %}
    permissions:
      contents: read
      packages: write
    steps:
      - *image-name
      - *setup-buildx
        {%- if "docker.io" in target_registries %}
      - &dockerhub-login
        name: Login to DockerHub
        uses: docker/login-action@v4
        with:
          {%- raw %}
          username: "${{ secrets.DOCKERHUB_LOGIN }}"
          password: "${{ secrets.DOCKERHUB_TOKEN }}"
          {%- endraw %}
        {%- endif %}
        {%- if "ghcr.io" in target_registries %}
      - &ghcr-login
        name: Login to GitHub Container Registry
        uses: docker/login-action@650006c6eb7dba73a995cc03b0b2d7f5ca915bee # v4.2.0
        with:
          {%- raw %}
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          {%- endraw %}
        {%- endif %}
        {%- if target_registries %}
      - &docker-meta
        name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@80c7e94dd9b9319bd5eb7a0e0fe9291e23a2a2e9 # v6.1.0
        with:
          images: |
            {%- for registry in target_registries %}
            {{ registry }}/{% raw %}${{ env.IMAGE_NAME }}{% endraw %}
            {%- endfor %}
        {%- raw %}
          tags: |
            type=ref,event=pr
            type=raw,value=latest,enable={{is_default_branch}}
            type=semver,pattern={{version}}
      # Push the images untagged, they are tagged later to make the multiarch manifest.
      - name: Build and push arch-specific image
        id: build-push
        uses: docker/build-push-action@f9f3042f7e2789586610d6e8b85c8f03e5195baf # v7.2.0
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/${{ matrix.platform }}
          cache-from: type=gha,scope=build-${{ matrix.platform }}
          cache-to: type=gha,mode=max,scope=build-${{ matrix.platform }}
          {%- endraw %}
          outputs: |
            {%- for registry in target_registries %}
            type=image,name={{ registry }}/{% raw %}${{ env.IMAGE_NAME }}{% endraw %},push-by-digest=true,name-canonical=true
            {%- endfor %}
        {%- raw %}
      # Stash the digest so the merge job can find it
      - name: Export digest
        run: |
          mkdir -p /tmp/digests
          digest="${{ steps.build-push.outputs.digest }}"
          touch "/tmp/digests/${digest#sha256:}"
      - name: Upload digest artifact
        uses: actions/upload-artifact@043fb46d1a93c77aae656e7c1c64a875d1fc6a0a # v7.0.1
        with:
          name: digest-${{ matrix.platform }}
          path: /tmp/digests/*
          if-no-files-found: error
          retention-days: 1

  merge-manifest:
    runs-on: ubuntu-24.04
    needs: build-push
    if: >
      github.ref == github.event.repository.default_branch || (github.event_name ==
      'pull_request' &&
       github.event.pull_request.head.repo.full_name == github.repository)
    permissions:
      contents: read
      packages: write
    steps:
      - name: Download all digests
        uses: actions/download-artifact@3e5f45b2cfb9172054b4087a40e8e0b5a5461e7c # v8.0.1
        with:
          path: /tmp/digests
          pattern: digest-*
          merge-multiple: true
      - *image-name
      - *setup-buildx
      - *ghcr-login
      - *docker-meta
      - name: Create and push multi-arch manifest
        working-directory: /tmp/digests
        run: |
          {%- endraw %}
          {%- for registry in target_registries %}

          DIGESTS=$(printf '{{registry}}/{% raw %}${{ env.IMAGE_NAME }}@sha256:%s ' *)
          docker buildx imagetools create --tag ${{ steps.docker_meta.outputs.tags }} $DIGESTS
          {%- endraw %}
          {%- endfor %}
        {%- endif %}
  {%- endif %}
